<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/password_reset/forgot.css">
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>

        <form id="reset-password-form" action="/reset-password" method="POST">
            <label for="new-password">Create password</label>
            <input type="password" id="new-password" name="new-password" placeholder="Enter new password" required>

            <label for="re-enter-password">Confirm</label>
            <input type="password" id="re-enter-password" name="re-enter-password" placeholder="Re-enter new password" required>

            <button type="submit">Reset Password</button>
        </form>
        <a href="/login">Back to Login</a>
    </div>
</body>
</html>
